@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

:root{
    --bg-color-primary: #010109; 
    --bg-color-secondary: #3E464C; 
    --text-color-main: #fff;
    --text-color-secondary: #26f50a;
    --bg-color-gradient-main: rgba(83, 238, 52, 0.8);
    --bg-color-gradient-secondary: rgba(160,244,144,.8);
}

/* Estilos para el modo claro */
.light-mode {
    --bg-color-primary: #e7ecec; 
    --bg-color-secondary: #bfe0e2; 
    --text-color-main: #010109;
    --text-color-secondary: #009EBE;
    --bg-color-gradient-main: rgba(63, 66, 241, 0.8);
    --bg-color-gradient-secondary: rgba(152, 168, 241, 0.8);
}

/* NAVBAR */
.contenedor-header{
    background: var(--bg-color-primary);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Orbitron';
    font-size: 36px;
    color: var(--text-color-secondary);
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: var(--text-color-main);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: var(--text-color-secondary);
}
.contenedor-header button{
    background-color: var(--bg-color-primary);
    color: var(--text-color-main);
    padding: 10px 7px;
    border: none;
    cursor: pointer;
}
.contenedor-header button:hover{
    color: var(--text-color-secondary);
}

.nav-responsive{
    background-color: var(--text-color-secondary);
    color:var(--text-color-main);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.nav-responsive:hover{
    color: var(--bg-color-primary);
}
/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(assets/img/fondo_inicio.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--text-color-main);
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: var(--bg-color-primary);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 4px solid var(--bg-color-secondary);
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}
.inicio .contenido-banner h2{
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 5px;
}
.inicio .contenido-banner .redes a{
    color: var(--text-color-main);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--text-color-main);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: var(--text-color-secondary);
    color: var(--bg-color-primary);
}
.sobremi{
    background-color: var(--bg-color-primary);
    color: var(--text-color-main);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Orbitron';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion .fila .col p{
    font: 20px;
    text-align: justify;
    line-height: 32px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion .fila .col p span{
    color: var(--text-color-secondary);
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
    margin-left: 15px;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Orbitron';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: var(--text-color-secondary);
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: var(--text-color-secondary);
    color: var(--bg-color-primary);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .btn-download{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--text-color-main);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--text-color-main);
    position: relative;
    z-index: 10;
    text-decoration: none;
}
.sobremi .btn-download .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--text-color-secondary);
    z-index: -1;
    transition: 1s;
}
.sobremi .btn-download:hover .overlay{
    width: 100%;
}
/* SECCION HABILIDADES */
.habilidades{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-main);
    padding: 50px 20px;
}
.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.habilidades h2{
    font-size: 48px;
    font-family: 'Orbitron';
    text-align: center;
    padding: 20px 0;

}
.habilidades .fila{
    display: flex;
}
.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}
.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'Orbitron';
    margin-bottom: 25px;
}
.habilidades .habilidad > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.habilidades .habilidad .barra-habilidad{
    height: 8px;
    width: 80%;
    background-color: var(--bg-color-primary);
    position: relative;
    margin-bottom: 30px;
}
.habilidades .habilidad .progreso{
    background-color: var(--text-color-secondary);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.habilidades .habilidad .barra-habilidad span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--text-color-secondary);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.habilidades .habilidad .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .nodejs{
    width: 0%;
    animation: 2s nodejs forwards;
}
@keyframes nodejs {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .laravelphp{
    width: 0%;
    animation: 2s laravelphp forwards;
}
@keyframes laravelphp {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .reactjs{
    width: 0%;
    animation: 2s reactjs forwards;
}
@keyframes reactjs {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .vue{
    width: 0%;
    animation: 2s vue forwards;
}
@keyframes vue {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .resolucion{
    width: 0%;
    animation: 2s resolucion forwards;
}
@keyframes resolucion {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .aprendizaje{
    width: 0%;
    animation: 2s aprendizaje forwards;
}
@keyframes aprendizaje {
    0%{width: 0%;}
    100%{width: 94%;}
}

.habilidades .habilidad .orientacion{
    width: 0%;
    animation: 2s orientacion forwards;
}
@keyframes orientacion {
    0%{width: 0%;}
    100%{width: 94%;}
}
/* SECCION CURRICULUM */
.curriculum{
    background-color: var(--bg-color-primary);
    color: var(--text-color-main);
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Orbitron';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Orbitron';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid var(--bg-color-secondary);
}
.curriculum .fila .derecha{
    border-left: 2px solid var(--bg-color-secondary);
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--bg-color-secondary);
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: var(--text-color-secondary);
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: var(--text-color-secondary);
    margin-bottom: 10px;
}
.curriculum .fila .item ul li{
    margin-left: 18px;
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid var(--text-color-secondary);
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid var(--text-color-secondary);
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: var(--text-color-secondary);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--text-color-secondary);
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: var(--text-color-secondary);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--text-color-secondary);
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PROYECTOS */
.proyectos{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-main);
    padding: 50px 20px;
}
.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.proyectos h2{
    font-size: 48px;
    font-family: 'Orbitron';
    text-align: center;
    padding: 20px 0;
}
.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyectos .galeria .proyecto .info-proyecto{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 335px;
    text-align: justify;
}
.proyectos .galeria .proyecto .info-proyecto p span {
    color: var(--text-color-secondary);
    font-weight: bold;
}
.proyectos .galeria .contenido-proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
}
.proyectos .galeria .proyecto .contenido-proyecto img{
    width: 100%;
    display: block;
}
.proyectos .galeria .contenido-proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(var(--bg-color-gradient-main), var(--bg-color-gradient-secondary));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.proyectos .galeria .contenido-proyecto .overlay .fila-iconos{
    margin-top: 10px;
}
.proyectos .galeria .contenido-proyecto .overlay .fila-iconos a{
    color: var(--text-color-main);
    margin-left: 10px;
    cursor: pointer;
}
.proyectos .galeria .contenido-proyecto .overlay h3{
    color: var(--bg-color-primary);
    margin-bottom: 20px;
    transition: 1s;
}
.proyectos .galeria .contenido-proyecto .overlay .fila-iconos a:hover{
    color: var(--bg-color-primary);
}
.proyectos .galeria .contenido-proyecto .overlay:hover{
    opacity: 1;
}
.proyectos .galeria .contenido-proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto{
    background-image: url(/assets/img/fondo_contacto.png);
    background-color: var(--bg-color-primary);
    color: var(--text-color-main);
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Orbitron';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contacto .col{
    width: 50%;
    padding: 10px;
}
.contacto .col input:not(#nombre), .contacto .col textarea{
    margin-top: 10px;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 10px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-main);
    font-size: 18px;
}
.contacto .fila .col .campos-obligatorios{
    color: var(--text-color-main);
    font-style: italic;
    margin-left: 10px;
}
.contacto .fila .col .campos-obligatorios span{
    color: red;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--text-color-main);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--text-color-main);
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--text-color-secondary);
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.footer{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-main);
    padding: 40px 0 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
.footer .info-footer{
    margin-bottom: 5px;
}
.footer .info-footer p{
    font-family: 'Orbitron';
}
.footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--text-color-secondary);
    color: var(--text-color-main);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.footer .arriba:hover{
    color: var(--bg-color-primary);
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: var(--bg-color-secondary);
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--text-color-main);
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .inicio .contenido-banner .contenedor-img{
        margin-top: 55px;
    }
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-habilidad{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .contenido-proyecto{
        max-width: 100%;
    }
    .proyectos .galeria .contenido-proyecto img{
        width: 100%;
    }
    .proyectos .galeria .proyecto .info-proyecto{
        max-width: 95%;
        text-align: justify;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
